* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: white;
  color: #000;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 1.5rem;
}

header,
header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div {
  gap: 1.3rem;
}

header div span {
  color: #000;
  font-size: 1.375rem;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
}

i {
  color: #000;
}

.hero {
  margin-top: 3.75rem;
}

.hero-container {
  display: flex;
  padding: 1.875rem 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1.25rem;
  background: linear-gradient(111deg, #B096FB 0%, #ABECD6 100%);
  box-shadow: 0px 4px 6px -2px rgba(172, 237, 215, 0.20), 0px 10px 15px -3px rgba(172, 237, 215, 0.10);
  text-align: center;
}

.image-hero-container {
  border-radius: 624.9375rem;
  background: #EFFFFA;
  box-shadow: 0px 13.753177642822266px 27.50635528564453px -6.60152530670166px rgba(182, 237, 207, 0.40);
  padding: 1.37531rem 1.10025rem;
}

.content-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  margin-top: 1.56rem;
}

.content-hero h2 {
  color: var(--default-gray-900, #111827);
  font-family: "Nunito", sans-serif;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.875rem;
  /* 136.364% */
}

.content-hero p {
  color: var(--default-gray-900, #111827);
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.375rem;
  /* 118.75% */
  min-width: 17.4375rem;
}

.content-hero span {
  color: #FFF278;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.375rem;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2.62rem;
}

.buttons button {
  border-radius: 2rem;
  background: var(--default-gray-900, #111827);
  padding: 0.5rem 2.25rem;
  color: var(--default-white, #FFF);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-family: "Poppins", sans-serif;
  border: none;
  cursor: pointer;
}

.buttons a {
  text-decoration: none;
  color: var(--default-gray-900, #111827);
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.projects h1 {
  color: var(--default-gray-900, #111827);
  font-family: "Poppins", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  /* 89.286% */
  margin: 2.5rem 0;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 1.22rem;
}

.tags {
  display: flex;
  gap: 0.48938rem;
}

.tags span {
  padding: 7.83px 15.66px;
  justify-content: center;
  align-items: center;
  border-radius: 31.319px;
  background: var(--extended-light-blue-400, #38BDF8);
}

.project-container {
  display: flex;
  justify-content: center;
  border-radius: 1.10106rem;
  padding: 2.63031rem 1.04438rem 2.6875rem 1.0705rem;
}

#project-1 {
  background: #0A689C;
}

#project-2 {
  background: #A91E1E;
}

#project-3 {
  background: #E1B30E;
}

.project-info,
.project-info div {
  display: flex;
  gap: 1.22rem;
  align-items: center;
}

.project-info div {
  gap: 0.24rem;
  color: var(--default-gray-900, #111827);
  font-family: Poppins;
  font-size: 0.97875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.projects a {
  display: flex;
  justify-content: end;
  color: var(--default-gray-900, #111827);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

#link-project {
  text-decoration: none;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 3.7rem;
}

.about h1 {
  color: var(--default-gray-900, #111827);
  font-family: Poppins;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.125rem;
  /* 89.286% */
}

.about img {
  width: 150px;
  height: 140px;
}

.about-avatar {
  display: flex;
  justify-content: center;
}

.about-me {
  /* border-left: 5px solid #111827; */
  padding-left: 1.5rem;
  ;
  position: relative;
}

.about-me::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  height: 100%;
  background: var(--default-gray-900, #111827);
  border-radius: 999px;
}

.about h2 {
  color: var(--default-gray-900, #111827);
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.skills {
  display: flex;
  flex: 1;
  gap: 2.44rem;
  justify-content: space-evenly;
  margin-bottom: 2.5rem;
}

.skills div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.89rem;
}

.skills div img {
  width: 85px;
  height: 85px;
}

.contact h1 {
  margin-top: 3.13rem;
  color: var(--default-white, #FFF);
  font-family: Poppins;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.125rem;
  /* 89.286% */
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;

  background: var(--default-gray-900, #111827);

  /* /shadow/xl */
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.04), 0px 20px 25px -5px rgba(0, 0, 0, 0.10);

  color: var(--default-white, #FFF);
  min-width: 260px;
}

.contact span {
  color: var(--default-white, #fff);
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
  /* 150% */
}

.contact a {
  color: var(--default-white, #FFF);
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
  /* 150% */
  text-decoration-line: underline;
}

.social {
  display: flex;
  gap: 0.94rem;
}

footer {
  text-align: center;
  padding: 10.44rem 0 0.75rem 0;
  color: var(--default-white, #FFF);
  text-align: center;
  font-family: Poppins;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  /* 0.75rem */
}

.image-footer {
  display: none;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 768px) {
  #all-projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;
    justify-content: space-between;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 80%;
  }

  .container {
    margin: 2rem 0rem;
  }

  .content-hero {
    max-width: 840px;
  }

  .content-hero h2 {
    color: var(--default-gray-900, #111827);
    font-family: Nunito;
    font-size: 2.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.165rem;
  }

  .content-hero p {
    color: var(--default-gray-900, #111827);
    text-align: center;
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 118.6%;
    /* 4.4475rem */
  }

  .content-hero span {
    color: #FFF278;
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 118.6%;
  }

  header {
    width: 100%;
    justify-content: space-between;
  }

  .hero-container {
    padding: 2rem 22rem;
  }

  .projects {
    width: 100%;
  }

  .projects h1 {
    color: var(--default-gray-900, #111827);
    font-family: Poppins;
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 5.125rem;
    /* 89.13% */
  }

  .project h2 {
    color: var(--default-gray-900, #111827);
    font-family: Poppins;
    font-size: 2.375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  #link-project div p {
    color: var(--default-gray-900, #111827);
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  #more-projects {
    margin-top: 3.75rem;
  }

  .about h1 {
    color: var(--default-gray-900, #111827);
    font-family: Poppins;
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 5.125rem;
    /* 89.13% */
  }

  .about {
    display: flex;
    width: 100%;
    position: relative;
  }

  #about-wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    max-height: 231px;
  }

  .about-me {
    max-width: 498px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .about-avatar img {
    width: 395px;
    height: 395px;
    /* padding: 3rem; */
    position: absolute;
    top: -70px;
    right: 0;
  }

  .about h2 {
    color: var(--default-gray-900, #111827);
    font-family: Poppins;
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 5.125rem;
    /* 89.13% */
  }

  .skills {
    display: flex;
    justify-content: start;
  }

  .skills div img {
    width: 148px;
    height: 148px;
  }

  .skills div span {
    color: var(--default-gray-900, #111827);
    font-family: Poppins;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.0375rem;
    /* 59.286% */
  }

  .contact {
    padding: 5rem;
  }

  .contact-container {
    display: flex;
    gap: 4rem;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .socials {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    max-width: 595px;
  }

  .socials h1 {
    color: var(--default-white, #FFF);
    font-family: Poppins;
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 5.125rem;
    /* 89.13% */
  }

  .image-footer {
    display: block;
  }
}